<%= render 'shared/errors' %>
<div class="container col-6 bg-secondary font-white shadow p-3 mb-4 rounded"> 
    <div class="row justify-content-center">
        <%= form_with(model: @article, local:true) do |f| %>
            <div class="form-group mb-4 justify-content-center">
                <%= f.label :title, class:"col-2 col-form-label text-light" %>
                <div class="text-center">
                    <%= f.text_field :title, class:"form-control", placeholder:"Article's title" %>
                </div>
                
            </div>

            <div class="form-group mb-4">
                <%= f.label :description, class:"text-light" %> <br/>
                <%= f.text_area :description, class:"form-control", placeholder:"Description of article" %>
                
            </div>
            <div class="form-group mb-4">    
                <%= f.submit class:"btn btn-success" %>
            </div> 
        <% end %>
        <%= link_to '[Cancel and return back to all articles]', articles_path, class:"text-info"%>
    </div>
</div>
